extends blank

block content
	.login-page
		.container
			.row
				.col-xs.text-xs-center.align-middle
					.login-form
						h1 Signin
						br
						form
							.form-group
								label Email Address
								input(type="email",placeholder="Enter your email address",class="form-control")
							.form-group
								label Password
								input(type="password",placeholder="Enter your password",class="form-control")
							.btn.btn-primary.btn-block Signin
